---
import Logo from "../components/Logo.astro";
import { Icon } from "astro-icon/components";

import "../assets/custom.css";
export interface Props {
  title: string;
  description?: string;
  ogImage?: string;
  articleDate?: string;
}
const { title, ogImage, description, articleDate } = Astro.props;
const disc = description || "JakePIXL's Personal Development Blog";
const imgUrl = ogImage || new URL("/social-card.png", Astro.url).href;

const fullTitle = `JakePIXL - ${title}`;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/site.webmanifest" />
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5" />
    <meta name="msapplication-TileColor" content="#2d89ef" />
    <meta name="theme-color" content="#f8feff" />
    <meta name="generator" content={Astro.generator} />
    <link href={import.meta.env.FONT_URL} rel="stylesheet" />
    <title>{fullTitle}</title>

    <meta name="title" content={fullTitle} />
    <meta name="description" content={description} />
    <meta name="author" content="Jake Evans" />
    <meta property="twitter:title" content={fullTitle} />
    <meta property="twitter:description" content={disc} />
    <meta property="twitter:image" content={imgUrl} />
    {
      articleDate && (
        <>
          <meta property="article:author" content="Jake Evans" />
          <meta property="article:published_time" content={articleDate} />
        </>
      )
    }
    <link
      rel="alternate"
      type="application/rss+xml"
      title="JakePIXL's Dev Blog"
      href={new URL("/rss.xml", Astro.site)}
    />
  </head>
  <body>
    <div
      class="border-slate-900 shadow-brutalism md:max-w-4xl md:border lg:m-4 lg:mx-auto dark:border-slate-100 dark:shadow-light-brutalism"
    >
      <div
        class="flex flex-row items-center justify-between border-slate-900 p-4 pb-2 md:border-b md:pb-4 dark:border-slate-100"
      >
        <a href="/" class="flex flex-row items-center justify-center gap-2">
          <div class="h-20 w-20">
            <Logo />
          </div>
          <div class="flex w-fit flex-col gap-0">
            <span class="flex h-fit gap-1 font-semibold md:text-xl"
              >Jake<span class="font-bold text-blue-500">PIXL</span>Evans</span
            >
            <span class="-mt-1.5 h-fit text-xs opacity-55 md:text-sm"
              >Cybersecurity Major & Software Dev</span
            >
          </div>
        </a>

        <div class="flex flex-row items-center gap-1">
          <span class="hidden text-sm md:block">Follow me on:</span>
          <a
            href="http://x.com/JakePIXL"
            target="_blank"
            rel="noopener noreferrer"
            class="hover:text-blue-500"
            aria-label="Follow me on X"
          >
            <Icon name="fa6-brands:square-x-twitter" size="1.3rem" />
          </a>
          <a
            href="http://github.com/JakePIXL"
            target="_blank"
            rel="noopener noreferrer"
            class="hover:text-blue-500"
            aria-label="Follow me on GitHub"
          >
            <Icon name="mdi:github-box" size="1.5rem" />
          </a>
          <a
            href="https://www.linkedin.com/in/jakepixl/"
            target="_blank"
            rel="noopener noreferrer"
            class="hover:text-blue-500"
            aria-label="Follow me on LinkedIn"
          >
            <Icon name="mdi:linkedin-box" size="1.5rem" />
          </a>
          <a
            href="http://instagram.com/JakePIXL"
            target="_blank"
            rel="noopener noreferrer"
            class="hover:text-blue-500"
            aria-label="Follow me on Instagram"
          >
            <Icon name="mdi:instagram" size="1.5rem" />
          </a>
          <a
            href="https://ko-fi.com/jakepixl"
            target="_blank"
            rel="noopener noreferrer"
            class="hover:text-blue-500"
            aria-label="Support me on Ko-fi"
          >
            <Icon name="simple-icons:kofi" size="1.5rem" />
          </a>
        </div>
      </div>
      <div class="flex h-full w-full flex-grow flex-col gap-4 p-4">
        <slot />
      </div>

      <div
        class="flex flex-row items-center justify-center gap-2 border-t border-slate-900 p-4 dark:border-slate-100"
      >
        <span class="text-sm opacity-55"
          >&copy; {new Date().getFullYear()} JakePIXL. All Rights Reserved.</span
        >
      </div>
    </div>
  </body>
</html>

<style>
  html,
  body {
    font-family: "TX-02", monospace;
    margin: 0;
    width: 100%;
    height: 100%;
  }
</style>
